body{
	background-color: #1338BE;
	font-family: "Times New Roman", Times,serif;
	font-size: 20pt;
	color: #800000; /* Dark maroon for body text */
	text-align: center; /* Keeps paragraphs center aligned */
}
h1 {
	display: inline-block;  /*shrinks width to fit text*/
	background-color: lightblue;/* Background only around text*/
	font-size 32pt;
	color: red;
	padding: 10px 20px;	/*space around the text*/
	margin: 40px auto;	/* Centers the h1 horizontally*/
	text-align: center;	/* centers text inside the h1 box*/
}
h2 {
	
	text-align:left; /* Keeps paragraphs left-aligned */
	background-color: #800000;
	color:red;
	padding: 10px 20px;	/*space around the text*/
}

p{
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	color: red;
	text-align" left;
}
p.shrt{
	display:inline-block;
	background-color: lightyellow;
	width: 400;
	padding: 5px 10px;
	margin:10px 0;
	font-size: 20pt;
	text-align: center;
}

.row{
	display:flex;
}

li{
	text-align:left;
}